html,
body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
p,
form {
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 800px;
  margin: 0px auto;
  background-color: #fff;
}

#content {
  width: 778px;
  margin: 0px auto;
  background-repeat: repeat-x;
  background-position: top;
}

#header {
  height: 96px;
}

#logo {
  width: 258px;
  float: left;
}

#logo h1 {
  font-family: 'Trebuchet MS';
  font-size: 26px;
  color: #f76b0c;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 30px;
}

#logo h4 {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #808080;
  font-weight: normal;
  text-decoration: none;
  padding-left: 75px;
}

#links ul {
  margin: 0px;
  padding-top: 67px;
}

#links li {
  float: left;
  list-style-type: none;
  width: 129px;
  height: 25px;
  text-align: center;
  background-color: #f4a80a;
  border-left: 1px solid #fff;
  padding-top: 4px;
}

#links a {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

#main {
  background-color: #9bbe00;
  height: 132px;
  text-align: right;
}

#main h3 {
  font-family: 'Trebuchet MS';
  font-size: 48px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  padding: 20px 40px 0px 0px;
}

#main h4 {
  font-family: 'Trebuchet MS';
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  padding: 0px 40px 0px 0px;
}

#contentarea {
  clear: both;
  padding: 25px 0px;
}

#leftbar {
  float: left;
  width: 539px;
  border-right: 1px solid #bcbdbc;
}

#leftbar h2 {
  font-family: 'Trebuchet MS';
  font-size: 26px;
  color: #ee8907;
  font-weight: normal;
  text-decoration: none;
  padding-left: 40px;
  padding-bottom: 5px;
}

#leftbar p {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
  padding: 0px 40px;
}

#leftbar a {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #ee8907;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 40px;
}

#rightbar {
  float: left;
  width: 237px;
}

#rightbar h2 {
  font-family: 'Trebuchet MS';
  font-size: 26px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
  padding-left: 25px;
  padding-bottom: 5px;
}

#rightbar p {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #797b7a;
  font-weight: normal;
  text-decoration: none;
  padding: 0px 25px;
}

.orangetext {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #ee8907;
  font-weight: bold;
  text-decoration: none;
}

#bottom {
  clear: both;
  height: 32px;
  padding-top: 25px;
}

#email {
  float: left;
  width: 500px;
  background-color: #9bbe00;
  height: 27px;
  padding-top: 5px;
}

#email a {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: underline;
  padding: 0px 40px;
}

#validtext {
  float: left;
  width: 278px;
  background-color: #9bbe00;
  height: 27px;
  padding-top: 5px;
}

#validtext p {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  padding-right: 35px;
}

#validtext a {
  font-family: 'Trebuchet MS';
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  text-decoration: underline;
}
